.about {
  padding: 0 30px 0 30px;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    padding: 0 50px 0 50px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px 0 225px;
    width: $desktop-width;
    margin: 0 auto 87px auto;
  }
}

.about__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 52px;
  }
}

.about__item {
  margin-top: 83px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  position: relative;

  &::before {
    position: absolute;
    content: "";
  }

  &--eco::before {
    background-image: url("../../img/icon-feature-flower.svg");
    width: 33px;
    height: 38px;
    top: -56px;
    left: 8px;
  }

  &--style::before {
    background-image: url("../../img/icon-feature-money.svg");
    width: 47px;
    height: 27px;
    top: -56px;
    left: 0;
  }

  &--like::before {
    background-image: url("../../img/icon-feature-heart.svg");
    width: 34px;
    height: 27px;
    top: -51px;
    left: 7px;
  }

  &--hand::before {
    background-image: url("../../img/icon-feature-ball.svg");
    width: 35px;
    height: 34px;
    top: -54px;
    left: 3px;
  }

  &--support::before {
    background-image: url("../../img/icon-feature-rocket.svg");
    width: 55px;
    height: 23px;
    top: -53px;
    left: -6px;
  }

  &--gift::before {
    background-image: url("../../img/icon-feature-gift.svg");
    width: 33px;
    height: 32px;
    top: -55px;
    left: 3px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 59px;
  }
}

.about__item:nth-child(2) {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.about__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
