.button {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  border: 2px solid $font-color;
  color: $font-color;
  vertical-align: middle;
  text-align: center;
  padding: 10px 20px 10px 20px;
  width: 260px;
  min-height: 52px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: #444444;
    color: white;
  }

  &:active {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }
}
