.copyright {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 34px;
  font-weight: 700;
  vertical-align: middle;
  margin-right: 27px;

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.copyright__link {
  width: 27px;
  height: 34px;
  background-image: url("../img/logo-htmlacademy.svg");
  cursor: pointer;

  &:hover {
    background-image: url("../img/logo-htmlacademy-2.svg");
  }

  &:active {
    background-image: url("../img/logo-htmlacademy-2.svg");
    opacity: 0.3;
  }
}
