.page-main__block {
  min-height: 489px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  padding: 90px 0 0 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/hero-tablet@1x.jpg");
    margin-top: -79px;
    margin-bottom: 40px;
    padding: 150px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: -79px auto 120px auto;
  }
}

.page-main__title {
  margin: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  padding: 0 33px 0 33px;
  margin-bottom: 120px;

  @media (min-width: $tablet-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 375px;
  }

  @media (min-width: $desktop-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 375px;
  }
}

.page-main__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    flex-direction: row;
  }
}

.page-main__item {
  min-height: 103px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 24px 160px 31px 30px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  &--interior {
    background-color: $color-1;
  }

  &--toys {
    background-color: $color-2;
  }
}
