.page-footer {
  background-color: $background-gray;
}

.footer__wrap {
  padding: 0 30px 0 30px;

  @media (min-width: $tablet-width) {
    padding: 50px 50px 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
  }
}

.page-footer__social {
  padding-top: 28px;
  padding-bottom: 17px;
  border-bottom: 1px solid $line-color;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.page-footer__logo {
  padding-bottom: 22px;
  background-image: url("../img/logo-footer.svg");
  width: 102px;
  height: 34px;
  cursor: pointer;

  &:hover {
    background-image: url("../img/logo-footer-green.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-img {
  display: none;

  &:hover {
    fill: #46c1ae;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
