.reviews {
  padding: 0 30px 51px 30px;
  margin-bottom: 38px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;
    width: 100vw;
    height: 6px;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      height: 23px;
      padding: 0 30px 0 30px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
    padding: 0 50px 104px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: $retina-dppx),
      (min-resolution: $retina-dpi) {
      background-image: url("../../img/review@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 150px 0;
    width: 1050px;
    margin: 0 auto 71px auto;
    background-position: 0 0;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 83px;
    margin-bottom: 38px;
    order: -2;
  }

  @media (min-width: $desktop-width) {
    margin-left: 174px;
    font-size: 53px;
    line-height: 57px;
    padding-top: 78px;
    margin-bottom: 36px;
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__text {
  color: $font-color;
  font-size: 15px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 174px;
    margin-bottom: 44px;
  }
}

.reviews__author {
  margin-bottom: 29px;

  @media (min-width: $desktop-width) {
    margin-left: 173px;
  }
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__author-link {
  font-size: 17px;
  line-height: 30px;
  color: $font-color;
  margin: 0;
}

.reviews__toggle-wrapper {
  display: flex;
  width: 260px;
  margin: 0 auto 38px auto;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    width: 175px;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;
  }
}

.reviews__toggle {
  width: 50%;
  height: 52px;
  background-color: transparent;
  border: 1px solid $light-gray;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    border: none;
  }

  &--prev {
    border-right: none;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-left-arrow.svg");
    transform: rotate(180deg);
  }
}

.reviews__block-write {
  display: flex;

  @media (min-width: $tablet-width) {
    width: 175px;
    padding-top: 79px;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
  }
}

.reviews__write {
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 175px;
  }
}
