.social {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding: 6px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 64px;
  }
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social__item {
  display: flex;
}

.social__link {
  background-repeat: no-repeat;

  &--inst {
    width: 22px;
    height: 21px;
    margin-right: 41px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
    margin-right: 40px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
  }
}
